In [1]:
import pandas as pd

In [21]:
table = pd.read_csv('../../aulas/data/aulas/temperaturas.csv',delimiter =';', index_col=['dia'])

In [22]:
table.head

<bound method NDFrame.head of        clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
ter      sol       19,67     28       96
qua      sol       17,51     16       20
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62
dom      sol        17,5     20       10>

In [23]:
table.head(7)

       clima temperatura  vento  umidade
dia
seg      sol       12,79     13       30
ter      sol       19,67     28       96
qua      sol       17,51     16       20
qui  nublado       14,44     11       22
sex    chuva       10,51     26       79
sab    chuva       11,07     27       62
dom      sol        17,5     20       10

In [24]:
table.iloc[4,1]

'10,51'

In [25]:
table.iloc[4,2]

26

In [26]:
table.loc['seg','temperatura']

'12,79'

In [28]:
table.loc[(table.umidade > 50) & (table.clima == 'chuva'),:]

     clima temperatura  vento  umidade
dia
sex  chuva       10,51     26       79
sab  chuva       11,07     27       62